
.vs/ZodiacSignSolution/v16/.suo
ApiZodiacSigns/bin/Debug/net5.0/ApiZodiacSigns.deps.json
ApiZodiacSigns/bin/Debug/net5.0/ApiZodiacSigns.dll
ApiZodiacSigns/bin/Debug/net5.0/ApiZodiacSigns.pdb
ApiZodiacSigns/bin/Debug/net5.0/ref/ApiZodiacSigns.dll
ApiZodiacSigns/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
ApiZodiacSigns/obj/Debug/net5.0/ApiZodiacSigns.AssemblyInfo.cs
ApiZodiacSigns/obj/Debug/net5.0/ApiZodiacSigns.AssemblyInfoInputs.cache
ApiZodiacSigns/obj/Debug/net5.0/ApiZodiacSigns.assets.cache
ApiZodiacSigns/obj/Debug/net5.0/ApiZodiacSigns.csproj.AssemblyReference.cache
ApiZodiacSigns/obj/Debug/net5.0/ApiZodiacSigns.csproj.CoreCompileInputs.cache
ApiZodiacSigns/obj/Debug/net5.0/ApiZodiacSigns.csproj.FileListAbsolute.txt
ApiZodiacSigns/obj/Debug/net5.0/ApiZodiacSigns.dll
ApiZodiacSigns/obj/Debug/net5.0/ApiZodiacSigns.GeneratedMSBuildEditorConfig.editorconfig
ApiZodiacSigns/obj/Debug/net5.0/ApiZodiacSigns.pdb
ApiZodiacSigns/obj/Debug/net5.0/ref/ApiZodiacSigns.dll
WebApiZodiacSigns/bin/Debug/net5.0/appsettings.Development.json
WebApiZodiacSigns/bin/Debug/net5.0/appsettings.json
WebApiZodiacSigns/bin/Debug/net5.0/Microsoft.OpenApi.dll
WebApiZodiacSigns/bin/Debug/net5.0/ref/WebApiZodiacSigns.dll
WebApiZodiacSigns/bin/Debug/net5.0/WebApiZodiacSigns.deps.json
WebApiZodiacSigns/bin/Debug/net5.0/WebApiZodiacSigns.dll
WebApiZodiacSigns/bin/Debug/net5.0/WebApiZodiacSigns.exe
WebApiZodiacSigns/bin/Debug/net5.0/WebApiZodiacSigns.pdb
WebApiZodiacSigns/bin/Debug/net5.0/WebApiZodiacSigns.runtimeconfig.dev.json
WebApiZodiacSigns/bin/Debug/net5.0/WebApiZodiacSigns.runtimeconfig.json
WebApiZodiacSigns/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
WebApiZodiacSigns/obj/Debug/net5.0/apphost.exe
WebApiZodiacSigns/obj/Debug/net5.0/ref/WebApiZodiacSigns.dll
WebApiZodiacSigns/obj/Debug/net5.0/staticwebassets/WebApiZodiacSigns.StaticWebAssets.Manifest.cache
WebApiZodiacSigns/obj/Debug/net5.0/staticwebassets/WebApiZodiacSigns.StaticWebAssets.xml
WebApiZodiacSigns/obj/Debug/net5.0/WebApiZodiacSigns.AssemblyInfo.cs
WebApiZodiacSigns/obj/Debug/net5.0/WebApiZodiacSigns.AssemblyInfoInputs.cache
WebApiZodiacSigns/obj/Debug/net5.0/WebApiZodiacSigns.assets.cache
WebApiZodiacSigns/obj/Debug/net5.0/WebApiZodiacSigns.csproj.AssemblyReference.cache
WebApiZodiacSigns/obj/Debug/net5.0/WebApiZodiacSigns.csproj.CopyComplete
WebApiZodiacSigns/obj/Debug/net5.0/WebApiZodiacSigns.csproj.CoreCompileInputs.cache
WebApiZodiacSigns/obj/Debug/net5.0/WebApiZodiacSigns.csproj.FileListAbsolute.txt
WebApiZodiacSigns/obj/Debug/net5.0/WebApiZodiacSigns.dll
WebApiZodiacSigns/obj/Debug/net5.0/WebApiZodiacSigns.GeneratedMSBuildEditorConfig.editorconfig
WebApiZodiacSigns/obj/Debug/net5.0/WebApiZodiacSigns.genruntimeconfig.cache
WebApiZodiacSigns/obj/Debug/net5.0/WebApiZodiacSigns.MvcApplicationPartsAssemblyInfo.cache
WebApiZodiacSigns/obj/Debug/net5.0/WebApiZodiacSigns.pdb
WebApiZodiacSigns/obj/Debug/net5.0/WebApiZodiacSigns.RazorTargetAssemblyInfo.cache
Controllers/bin/Debug/net5.0/Controllers.deps.json
Controllers/bin/Debug/net5.0/Controllers.dll
Controllers/bin/Debug/net5.0/Controllers.pdb
Controllers/bin/Debug/net5.0/ref/Controllers.dll
Controllers/obj/Controllers.csproj.nuget.dgspec.json
Controllers/obj/Controllers.csproj.nuget.g.props
Controllers/obj/Controllers.csproj.nuget.g.targets
Controllers/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Controllers/obj/Debug/net5.0/Controllers.AssemblyInfo.cs
Controllers/obj/Debug/net5.0/Controllers.AssemblyInfoInputs.cache
Controllers/obj/Debug/net5.0/Controllers.assets.cache
Controllers/obj/Debug/net5.0/Controllers.csproj.AssemblyReference.cache
Controllers/obj/Debug/net5.0/Controllers.csproj.CoreCompileInputs.cache
Controllers/obj/Debug/net5.0/Controllers.csproj.FileListAbsolute.txt
Controllers/obj/Debug/net5.0/Controllers.dll
Controllers/obj/Debug/net5.0/Controllers.GeneratedMSBuildEditorConfig.editorconfig
Controllers/obj/Debug/net5.0/Controllers.pdb
Controllers/obj/Debug/net5.0/ref/Controllers.dll
Controllers/obj/project.assets.json
Controllers/obj/project.nuget.cache
WebApiZodiacSigns/WebApiZodiacSigns.csproj.user
