
ApiZodiacSigns/bin/Debug/net5.0/ref/ApiZodiacSigns.dll
ApiZodiacSigns/bin/Debug/net5.0/ApiZodiacSigns.pdb
ApiZodiacSigns/bin/Debug/net5.0/ApiZodiacSigns.dll
ApiZodiacSigns/bin/Debug/net5.0/ApiZodiacSigns.deps.json
.vs/ZodiacSignSolution/v16/.suo
WebApiZodiacSigns/obj/Debug/net5.0/WebApiZodiacSigns.pdb
WebApiZodiacSigns/obj/Debug/net5.0/WebApiZodiacSigns.RazorTargetAssemblyInfo.cache
WebApiZodiacSigns/obj/Debug/net5.0/WebApiZodiacSigns.MvcApplicationPartsAssemblyInfo.cache
WebApiZodiacSigns/obj/Debug/net5.0/WebApiZodiacSigns.genruntimeconfig.cache
WebApiZodiacSigns/obj/Debug/net5.0/WebApiZodiacSigns.GeneratedMSBuildEditorConfig.editorconfig
WebApiZodiacSigns/obj/Debug/net5.0/WebApiZodiacSigns.dll
WebApiZodiacSigns/obj/Debug/net5.0/WebApiZodiacSigns.csproj.FileListAbsolute.txt
WebApiZodiacSigns/obj/Debug/net5.0/WebApiZodiacSigns.csproj.CoreCompileInputs.cache
WebApiZodiacSigns/obj/Debug/net5.0/WebApiZodiacSigns.csproj.CopyComplete
WebApiZodiacSigns/obj/Debug/net5.0/WebApiZodiacSigns.csproj.AssemblyReference.cache
WebApiZodiacSigns/obj/Debug/net5.0/WebApiZodiacSigns.assets.cache
WebApiZodiacSigns/obj/Debug/net5.0/WebApiZodiacSigns.AssemblyInfoInputs.cache
WebApiZodiacSigns/bin/Debug/net5.0/WebApiZodiacSigns.deps.json
WebApiZodiacSigns/bin/Debug/net5.0/WebApiZodiacSigns.dll
WebApiZodiacSigns/bin/Debug/net5.0/WebApiZodiacSigns.exe
WebApiZodiacSigns/bin/Debug/net5.0/WebApiZodiacSigns.pdb
WebApiZodiacSigns/bin/Debug/net5.0/WebApiZodiacSigns.runtimeconfig.dev.json
WebApiZodiacSigns/obj/Debug/net5.0/WebApiZodiacSigns.AssemblyInfo.cs
WebApiZodiacSigns/obj/Debug/net5.0/staticwebassets/WebApiZodiacSigns.StaticWebAssets.Manifest.cache
WebApiZodiacSigns/obj/Debug/net5.0/staticwebassets/WebApiZodiacSigns.StaticWebAssets.xml
WebApiZodiacSigns/obj/Debug/net5.0/ref/WebApiZodiacSigns.dll
WebApiZodiacSigns/bin/Debug/net5.0/ref/WebApiZodiacSigns.dll
WebApiZodiacSigns/bin/Debug/net5.0/WebApiZodiacSigns.runtimeconfig.json
WebApiZodiacSigns/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
WebApiZodiacSigns/obj/Debug/net5.0/apphost.exe
ApiZodiacSigns/obj/Debug/net5.0/ref/ApiZodiacSigns.dll
WebApiZodiacSigns/bin/Debug/net5.0/appsettings.json
WebApiZodiacSigns/bin/Debug/net5.0/appsettings.Development.json
WebApiZodiacSigns/bin/Debug/net5.0/Microsoft.OpenApi.dll
ApiZodiacSigns/obj/Debug/net5.0/ApiZodiacSigns.dll
ApiZodiacSigns/obj/Debug/net5.0/ApiZodiacSigns.GeneratedMSBuildEditorConfig.editorconfig
ApiZodiacSigns/obj/Debug/net5.0/ApiZodiacSigns.pdb
ApiZodiacSigns/obj/Debug/net5.0/ApiZodiacSigns.csproj.FileListAbsolute.txt
ApiZodiacSigns/obj/Debug/net5.0/ApiZodiacSigns.csproj.CoreCompileInputs.cache
ApiZodiacSigns/obj/Debug/net5.0/ApiZodiacSigns.csproj.AssemblyReference.cache
ApiZodiacSigns/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
ApiZodiacSigns/obj/Debug/net5.0/ApiZodiacSigns.AssemblyInfo.cs
ApiZodiacSigns/obj/Debug/net5.0/ApiZodiacSigns.AssemblyInfoInputs.cache
ApiZodiacSigns/obj/Debug/net5.0/ApiZodiacSigns.assets.cache
